/* .modal {
    border: -3px;
    cursor: pointer;
    margin-left: 84%;
    padding: 5px;
    margin-bottom: 10px;
} */

.ant-modal-title {
    text-align: center;
    font-size: 20px;
}
.ant-.modal.boday{
    font-weight: 400;   
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgb(195, 191, 191);
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 24px;

}
.Form.Item{
    font-style: italic;
}